# 3.1 Guia - Pandas

In [1]:
import pandas as pd

In [4]:
# Rotulos
Labels = ['1º','2º','3º']

# Valores
Valores = [10, 20, 30]

# Base de dados
Serie = pd.Series(data=Valores,index=Labels)
Serie

1º    10
2º    20
3º    30
dtype: int64

In [6]:
# Escolha de um Rotulo
Serie['1º']

10

In [7]:
# Multiplicação
Serie*3

1º    30
2º    60
3º    90
dtype: int64

In [8]:
# Criando nova Serie
Serie_Nova = pd.Series(data=[50,100,150], index=Labels)

Serie + Serie_Nova

1º     60
2º    120
3º    180
dtype: int64

In [9]:
# Criando Dicionário
Dicionario = {
    'A':[1,2,3],
    'B':[-3,-2,-1],
    'C':[0,10,20]
    }

Label = ['1º Linha', '2º Linha', '3º Linha']

DataFrame_01= pd.DataFrame(Dicionario, index=Label)
DataFrame_01

          A  B   C
1º Linha  1 -3   0
2º Linha  2 -2  10
3º Linha  3 -1  20

In [10]:
# Apenas uma Coluna
DataFrame_01['A']

1º Linha    1
2º Linha    2
3º Linha    3
Name: A, dtype: int64

In [14]:
# Duas colunas
DataFrame_01[['A','C']]

          A   C
1º Linha  1   0
2º Linha  2  10
3º Linha  3  20

In [15]:
DataFrame_01['Nova_Coluna'] = DataFrame_01['A'] * DataFrame_01['B']
DataFrame_01

          A  B   C  Nova_Coluna
1º Linha  1 -3   0           -3
2º Linha  2 -2  10           -4
3º Linha  3 -1  20           -3

In [16]:
# Excluir Coluna
DataFrame_01.drop('Nova_Coluna',axis=1,inplace=True)
DataFrame_01

          A  B   C
1º Linha  1 -3   0
2º Linha  2 -2  10
3º Linha  3 -1  20

In [17]:
# Localizar Linha
DataFrame_01.loc['1º Linha']

A    1
B   -3
C    0
Name: 1º Linha, dtype: int64

In [18]:
# Localizar diversas linhas e colunas
DataFrame_01.loc[['1º Linha','3º Linha'], ['A','B']]

          A  B
1º Linha  1 -3
3º Linha  3 -1

In [19]:
# Localizar Linhas
DataFrame_01.iloc[2:3,1:]

          B   C
3º Linha -1  20

In [20]:
#Verificando valores menores que 0
DataFrame_01 > 0

             A      B      C
1º Linha  True  False  False
2º Linha  True  False   True
3º Linha  True  False   True

In [21]:
# Filtrando os Dados
DataFrame_01[DataFrame_01['A'] > 0]['C']

1º Linha     0
2º Linha    10
3º Linha    20
Name: C, dtype: int64

In [26]:
# Filtrando os Dados
Filtro = DataFrame_01['C'] > 0
DataFrame_02 = DataFrame_01[Filtro]
DataFrame_02.iloc[1:,:1]

          A
3º Linha  3

In [27]:
# Filtrando os Dados com diversos parâmetros
DataFrame_01[
    (DataFrame_01['A'] > 1) & (DataFrame_01['C'] > 0)
    ]

          A  B   C
2º Linha  2 -2  10
3º Linha  3 -1  20

In [28]:
# Transformando o index
DataFrame_01.reset_index()

      index  A  B   C
0  1º Linha  1 -3   0
1  2º Linha  2 -2  10
2  3º Linha  3 -1  20

In [29]:
# Criando Bases
Dicionario_01 = {'A': [1,2,3],
                 'B': [-32,-21,-15],
                 'C': [60,10,20],
                 'Chave': ['AA','BB','CC']}
Dicionario_02 = {'A': [6,7,8],
                 'B': [-39,-28,-17],
                 'C': [1000,10,60],
                 'Chave': ['AA','BB','CC']}
Dicionario_03 = {'A': [11,12,13],
                 'B': [-39,-22,-11],
                 'C': [30,10,20],
                 'Chave': ['AA','BB','CC']}

# Criando Labels
Label_01 = ['1º Linha', '2º Linha','3º Linha']
Label_02 = ['4º Linha', '5º Linha','6º Linha']
Label_03 = ['7º Linha', '8º Linha','9º Linha']

# Estruturando os Dados
DataFrame_01 = pd.DataFrame(Dicionario_01, index=Label_01)
DataFrame_02 = pd.DataFrame(Dicionario_02, index=Label_02)
DataFrame_03 = pd.DataFrame(Dicionario_03, index=Label_03)

In [30]:
# Empilhando os Dados
pd.concat(
    [DataFrame_01, DataFrame_02, DataFrame_03]
)

           A   B     C Chave
1º Linha   1 -32    60    AA
2º Linha   2 -21    10    BB
3º Linha   3 -15    20    CC
4º Linha   6 -39  1000    AA
5º Linha   7 -28    10    BB
6º Linha   8 -17    60    CC
7º Linha  11 -39    30    AA
8º Linha  12 -22    10    BB
9º Linha  13 -11    20    CC

In [31]:
# Merge
pd.merge(
    DataFrame_01, DataFrame_02, how='inner', on='Chave'
)

   A_x  B_x  C_x Chave  A_y  B_y   C_y
0    1  -32   60    AA    6  -39  1000
1    2  -21   10    BB    7  -28    10
2    3  -15   20    CC    8  -17    60

In [33]:
# Função juntar
Dicionario_01 = {'A': [1,2,3],
                 'B': [-32,-21,-15],
                 'C': [60,10,20]}
Dicionario_02 = {'D': [6,7,8],
                 'E': [-39,-28,-17],
                 'F': [1000,10,60]}

# Criando Labels
Label_01 = ['1º Linha', '2º Linha','3º Linha']

# Estruturando os Dados
DataFrame_01 = pd.DataFrame(Dicionario_01, index=Label_01)
DataFrame_02 = pd.DataFrame(Dicionario_02, index=Label_01)

# Aplicando a Função Join
DataFrame_01.join(DataFrame_02)

          A   B   C  D   E     F
1º Linha  1 -32  60  6 -39  1000
2º Linha  2 -21  10  7 -28    10
3º Linha  3 -15  20  8 -17    60